.summary-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #81B29A;
    -fx-border-width: 2px;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 5, 0.0, 0, 3);
    -fx-alignment: center;
    -fx-cursor: default;
}

.chart {
    -fx-background-color: #F5EBE0;
    -fx-border-color: #81B29A;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 5, 0.0, 0, 2);
}

/* General title styling */
.chart-title {
    -fx-text-fill: #81B29A;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Axis styling */
.axis {
    -fx-tick-label-fill: #333333;
    -fx-axis-label-fill: #81B29A;
    -fx-font-size: 12px;
}

.axis .tick-mark {
    -fx-stroke: #cccccc;
}

/* LineChart lines */
.default-color0.chart-series-line {
    -fx-stroke: #81B29A;
    -fx-stroke-width: 2px;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #81B29A, white;
}

/* BarChart bars */
.default-color0.chart-bar {
    -fx-bar-fill: #81B29A;
}
.default-color1.chart-bar {
    -fx-bar-fill: #A3C4BC;
}

/* PieChart slices */
.default-color0.chart-pie {
    -fx-pie-color: #81B29A;
}
.default-color1.chart-pie {
    -fx-pie-color: #A3C4BC;
}
.default-color2.chart-pie {
    -fx-pie-color: #F2CC8F;
}
.default-color3.chart-pie {
    -fx-pie-color: #E07A5F;
}

/* Legend styling */
.chart-legend-item-symbol {
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
}
.chart-legend {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
}

/* Hover Effect for Charts */
.chart:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2);
}

#chartMode {
    -fx-border-radius: 8px;         /* Rounded edges */
    -fx-background-radius: 8px;     /* Ensures smooth rounding */
    -fx-border-color: green;      /* Slightly darker green border */
    -fx-border-width: 2px;
}

#chartMode .floating-text {
    -fx-text-fill: -mfx-charcoal; /* Text color */
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
}
